@using System.Globalization
@model FutsalFusion.Application.DTOs.Futsal.CourtDetailsResponseDto

@{
    ViewData["Title"] = "Court Overview";
}

<div class="content-page">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Futsal Fusion</a></li>
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Futsal Overview</a></li>
                                <li class="breadcrumb-item active">Court Details</li>
                            </ol>
                        </div>
                        <h4 class="page-title">Court Details</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xxl-8 col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="slideshow-container">
                                <div class="container justify-content-center d-flex">
                                    @foreach (var item in Model.CourtImageURL)
                                    {
                                        <img style="width:500px;height:270px; object-fit:cover; margin-right: 5px;" asp-append-version="true" src="~/court-images/@item" alt="">
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card d-block">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center mb-2">
                                <h3 class="mt-0">@Model.CourtName</h3>
                                <div class="dropdown">
                                    <a href="#" class="dropdown-toggle arrow-none card-drop" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="ri-more-fill"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-end">
                                        <a href="javascript:void(0);" class="dropdown-item"><i class="mdi mdi-pencil me-1"></i>Edit</a>
                                        <a href="javascript:void(0);" class="dropdown-item"><i class="mdi mdi-delete me-1"></i>Delete</a>
                                    </div>
                                </div>
                            </div>
                            <h5 class="fw-bolder">@Model.FutsalName</h5>
                            <h6>
                                <p class="fst-italic">@Model.Address</p>
                            </h6>
                            <p class="text-muted mb-2">
                                @Html.Raw(Model.CourtDescription)
                            </p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-6">
                                    <h4 class="mb-2">Find an Appointment</h4>
                                </div>
                                <div class="col-6 text-end">
                                    <div class="row">
                                        <div class="col">
                                            <h4><span class="badge bg-success text-white">Available</span></h4>
                                        </div>
                                        <div class="col-auto">
                                            <h4><span class="badge bg-warning text-white">On Hold</span></h4>
                                        </div>
                                        <div class="col-auto">
                                            <h4><span class="badge bg-danger text-white">Busy</span></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body" style="overflow-x: auto;">
                            <div style="height: 425px; overflow-y: auto;">
                                <table>
                                    <thead>
                                        <tr>
                                            <th style="width: 20%">Day</th>
                                            @for (int i = Model.OpeningHours; i < Model.ClosingHours; i++)
                                            {
                                                <th class="text-center">@TimeSpan.FromHours(i)</th>
                                            }
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.BookingSlots)
                                        {
                                            <tr>
                                                <td>
                                                    <span>@item.Day</span>
                                                    <br>
                                                    <span class="fst-italic">@item.AppointedDate.ToString("dd MMM")</span>
                                                </td>
                                                @foreach (var slot in item.Slots)
                                                {
                                                    <td>
                                                        <div class="container">
                                                            <div class="row" style="cursor:pointer;" onclick="submitAppointment('@Model.CourtId.ToString()', '@item.AppointedDate.ToString("MM/dd/yyyy")', '@slot.TimeSlot.TotalHours', '@slot.Price', '@slot.Status')">
                                                                @{
                                                                    var status = slot.Status == "Available" ? "bg-success" : slot.Status == "On Hold" ? "bg-warning" : "bg-danger";
                                                                }
                                                                <div class="card @status p-2">
                                                                    <h5 class="card-title text-dark">@slot.Price.ToString("N2")</h5>
                                                                    <p class="card-text text-dark">@slot.TimeSlot</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                }
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div> 
                <div class="col-lg-6 col-xxl-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title mb-3">Weekly Appointments</h5>
                            <div dir="ltr">
                                <div dir="ltr">
                                    <div id="appointment-details" class="apex-charts" data-colors="#fa6767"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col mt-2">
                                    <h5 class="card-title mb-3">Working Days</h5>
                                </div>
                            </div>
                            <partial name="_WorkingHours" model="Model.WorkingHours"/>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <div class="row mb-2">
                                <div class="col">
                                    <h5 class="card-title mt-2">Prices</h5>
                                </div>
                                <div class="col text-end">
                                    <a type="button" class="btn btn-outline-info" id="working-hours" asp-action="CourtPrices" asp-route-courtId="@Model.CourtId">
                                        <i class="uil-circuit"></i> Information
                                    </a>
                                </div>
                            </div>
                            @foreach (var price in Model.CourtPrices)
                            {
                                <div class="card mb-1 shadow-none border">
                                    <div class="p-2">
                                        <div class="row align-items-center">
                                            <div class="col-auto ps-3">
                                                <p class="mb-0">@price.TimePeriod</p>
                                            </div>
                                            <div class="col-auto">
                                                <a href="javascript:void(0);" class="text-title ">@price.Price</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div> 
</div>

<script type="text/javascript">
    let colors = ["#fa6767"];
    let dataColors = $("#appointment-details").data("colors");
    let options = {
        chart: {
            height: 380,
            type: "area",
            zoom: {
                enabled: false
            }
        },
        dataLabels: {
            enabled: false
        },
        stroke: {
            width: 3,
            curve: "straight"
        },
        colors: dataColors ? dataColors.split(",") : colors,
        series: [{
            name: "Weekly Appointments",
            data: [5, 4, 3, 5, 7, 7, 5] // Use numbers instead of strings
        }],
        title: {
            text: "Last Week's Analysis",
            align: "left"
        },
        subtitle: {
            text: "Hourly Bookings",
            align: "left"
        },
        xaxis: {
            type: "category",
            categories: ['08:00', '09:00', '10:00', '11:00', '12:00', '13:00', '14:00']
        },
        yaxis: {
            opposite: true
        },
        legend: {
            horizontalAlign: "left"
        },
        grid: {
            borderColor: "#f1f3fa"
        },
        responsive: [{
            breakpoint: 600,
            options: {
                chart: {
                    toolbar: {
                        show: false
                    }
                },
                legend: {
                    show: false
                }
            }
        }]
    };
    
    let chart = new ApexCharts(document.querySelector("#appointment-details"), options);
    chart.render();
    
    function submitAppointment(courtId, appointedDate, timeFrame, price, status){
        if (status === "On Hold"){
            commonMessage('warning', "The following slot is on hold, please visit in a few hours if it is occupied or not.");
        }
        else if (status === "Busy"){
            commonMessage('error', "The following slot is has been approved and is not further available.");
        }
        else {
            Swal.fire({
                title: 'Confirm Booking',
                text: 'Pick a Payment Procedure',
                icon: 'question',
                showCancelButton: true,
                confirmButtonText: 'Offline',
                cancelButtonText: 'Online',
                confirmButtonColor: '#DD5471',
            }).then((result) => {
                let paymentMethod = result.isConfirmed ? 'Offline' : 'Online';
                let data = {
                    CourtId: courtId,
                    AppointedDate: appointedDate,
                    TimeSlot: timeFrame,
                    Price: price,
                    Payment: paymentMethod
                };
                $.ajax({
                    type: 'POST',
                    dataType: 'JSON',
                    url: "/Appointment/BookSlot/",
                    data: JSON.stringify(data),
                    contentType: 'application/json',
                    success: function(data) {
                        location.reload();
                    },
                    error: function(xhr, status, error) {
                        console.log(xhr);
                        console.log(status);
                        console.log(error);
                        commonMessage('error', "An error occurred while processing the request.");
                    }
                });
                        
            });
        }
    }
    
    function formatDate(dateString) {
        const date = new Date(dateString);
        const formattedDate = `${(date.getMonth() + 1).toString().padStart(2, '0')}/${date.getDate().toString().padStart(2, '0')}/${date.getFullYear()} ${date.getHours().toString().padStart(2, '0')}:${date.getMinutes().toString().padStart(2, '0')}:${date.getSeconds().toString().padStart(2, '0')}`;
        return formattedDate;
    }

</script>