@model FutsalFusion.Application.DTOs.Futsal.FutsalResponseDto

@{
    ViewData["Title"] = "Futsal Overview";
}

<div class="content-page">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Futsal Fusion</a></li>
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Futsal Overview</a></li>
                                <li class="breadcrumb-item active">Futsal Details</li>
                            </ol>
                        </div>
                        <h4 class="page-title">Futsal Details</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xxl-8 col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="slideshow-container">
                                <div class="container justify-content-center d-flex">
                                    @foreach (var item in Model.FutsalImages)
                                    {
                                        <img style="width:500px;height:270px; object-fit:cover; margin-right: 5px;" asp-append-version="true" src="~/futsal-images/@item" alt="">
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-7">
                            <div class="card d-block">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between align-items-center mb-2">
                                        <h3 class="mt-0">@Model.FutsalName</h3>
                                        <div class="dropdown">
                                            <a href="#" class="dropdown-toggle arrow-none card-drop" data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="ri-more-fill"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-end">
                                                <a asp-action="ActivationStatus" asp-route-futsalId="@Model.FutsalId" class="dropdown-item">
                                                    @if (Model.IsActive)
                                                    {
                                                        <i class="mdi mdi-delete me-1"></i>
                                                        <span>Deactivate</span>
                                                    }
                                                    else
                                                    {
                                                        <i class="mdi mdi-backup-restore me-1"></i>
                                                        <span>Activate</span>
                                                    }
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    @if (Model.IsExotic)
                                    {
                                        <div class="badge bg-secondary text-light mb-3">Exotic</div>
                                    }
                                    @if (Model.IsNew)
                                    {
                                        <div class="badge bg-primary text-light mb-3">New</div>
                                    }
                                    @if (Model.IsPopular)
                                    {
                                        <div class="badge bg-danger text-light mb-3">Popular</div>
                                    }
                                    @if (Model.IsActive)
                                    {
                                        <div class="badge bg-success text-light mb-3">Active</div>
                                    }
                                    else
                                    {
                                        <div class="badge bg-danger text-light mb-3">Inactive</div>
                                    }


                                    <h5>@Model.FutsalPhrase</h5>
                                    <h6>
                                        <p class="fst-italic">@Model.FutsalLocationAddress</p>
                                    </h6>
                                    <p class="text-muted mb-2">
                                        @Html.Raw(Model.FutsalOverview)
                                    </p>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="mb-4">
                                                <h5>Initiated Date Date</h5>
                                                <p>@Model.InitiatedDate</p>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="mb-4">
                                                <h5>Total Earnings</h5>
                                                <p>Rs @Model.TotalEarnings</p>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="mb-4">
                                                <div id="tooltip-container">
                                                    <h5>Meet the Personnel</h5>
                                                    <a href="javascript:void(0);" data-bs-container="#tooltip-container" data-bs-toggle="tooltip" data-bs-placement="top" title="@Model.OwnerName" class="d-inline-block">
                                                        <img src="~/user-images/@Model.OwnerImageUrl" class="rounded-circle img-thumbnail avatar-sm" alt="friend">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-5">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title mb-3">Courts</h5>
                                    @foreach (var court in Model.Courts)
                                    {
                                        <div class="card mb-1 shadow-none border">
                                            <div class="p-2">
                                                <div class="row align-items-center">
                                                    <div class="col-auto">
                                                        <img src="~/court-images/@court.Images.FirstOrDefault()" class="avatar-sm rounded" alt="file-image"/>
                                                    </div>
                                                    <div class="col ps-0">
                                                        <a href="javascript:void(0);" class="text-muted fw-bold">@court.Title</a>, <span class="text-title">@court.Type</span>
                                                        <p class="mb-0">@court.Description</p>
                                                    </div>
                                                    <div class="col-auto">
                                                        <a asp-action="CourtDetails" asp-route-futsalCourtId="@court.Id" class="btn btn-link btn-lg text-muted">
                                                            <i class="ri-login-circle-line"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                                
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h4 class="mt-0 mb-3">Comments (2)</h4>
                            <textarea class="form-control form-control-light mb-2" placeholder="Write message" id="example-textarea" rows="3"></textarea>
                            <div class="text-end">
                                <div class="btn-group mb-2">
                                    <button type="button" class="btn btn-link btn-sm text-muted font-18"><i class="ri-attachment-2"></i></button>
                                </div>
                                <div class="btn-group mb-2 ms-2">
                                    <button type="button" class="btn btn-primary btn-sm" id="submit-comment">Submit</button>
                                </div>
                            </div>

                            <div class="comments-section mt-2">
                                <div class="d-flex align-items-start mt-2">
                                    <img class="me-3 avatar-sm rounded-circle" src="~/assets/images/users/avatar-3.jpg" alt="Generic placeholder image">
                                    <div class="w-100 overflow-hidden">
                                        <h5 class="mt-0">Aakar Man Singh Pradhan</h5>
                                        I recently played at the local futsal court and had a fantastic experience. The facilities were well-maintained, and the court itself was in excellent condition. The staff were friendly and helpful, making the whole experience enjoyable. I highly recommend this futsal venue to anyone looking for a fun and active way to spend their time.
                                        <div class="d-flex align-items-start mt-3">
                                            <a class="pe-3" href="#">
                                                <img src="~/assets/images/users/avatar-4.jpg" class="avatar-sm rounded-circle" alt="Generic placeholder image">
                                            </a>
                                            <div class="w-100 overflow-hidden">
                                                <h5 class="mt-0">Prashant Subedi</h5>
                                                We're thrilled to hear that you had such a great time at our futsal court! Thank you for taking the time to share your positive experience with us. We strive to provide top-notch facilities and service to all our players. We look forward to welcoming you back for more exciting futsal matches in the future
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
                <div class="col-lg-6 col-xxl-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title mb-3">Appointment Progress</h5>
                            <div dir="ltr">
                                <div dir="ltr">
                                    <div id="appointment-details" class="apex-charts" data-colors="#727cf5,#6c757d"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col mt-2">
                                    <h5 class="card-title mb-3">Working Days</h5>
                                </div>
                                <div class="col text-end">
                                    <a type="button" class="btn btn-outline-info" id="working-hours" asp-action="FutsalWorkingHours" asp-route-futsalId="@Model.FutsalId">
                                        <i class="uil-circuit"></i> Information
                                    </a>
                                </div>
                            </div>
                            <partial name="_WorkingHours" model="Model.WorkingHours"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    let options = {
        chart: {
            height: 380,
            type: "area"
        },
        dataLabels: {
            enabled: false
        },
        stroke: {
            width: 3,
            curve: "smooth"
        },
        colors: ["#727cf5"], 
        series: [{
            name: "Bookings",
            data: ['110', '200', '150', '195', '200', '220', '190']
        }],
        legend: {
            offsetY: 5
        },
        xaxis: {
            categories: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'],
            title: {
                text: 'Days' 
            }
        },
        yaxis: {
            title: {
                text: 'Bookings'
            }
        },
        tooltip: {
            fixed: {
                enabled: false,
                position: "topRight"
            }
        },
        grid: {
            borderColor: "#f1f3fa"
        }
    };

    let appointments = new ApexCharts(document.querySelector("#appointment-details"), options);
    appointments.render();
    
    $(document).ready(function() {
        $("#submit-comment").click(function() {
            var commentText = $("#example-textarea").val();

            var newComment = `
                <div class="d-flex align-items-start mt-2">
                    <img class="me-3 avatar-sm rounded-circle" src="/user-images/super-admin.jpg" alt="Generic placeholder image">
                    <div class="w-100 overflow-hidden">
                        <h5 class="mt-0">User</h5>
                        ${commentText}
                    </div>
                </div>
            `;

            $(".comments-section").append(newComment);
            $("#example-textarea").val(""); // Clear the textarea
        });
    });
</script>