@using Microsoft.AspNetCore.Mvc.TagHelpers
@model FutsalFusion.Application.DTOs.Product.ProductResponseDto

@{
    ViewData["Title"] = "Products & Purchases";
}

<div class="wrapper">
    <div class="content-page">
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box">
                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Futsal Fusion</a></li>
                                    <li class="breadcrumb-item active">Products</li>
                                </ol>
                            </div>
                            <h4 class="page-title">Products & Purchases</h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row mb-2">
                                    <div class="col-sm-5">
                                        @if (Model.IsEditable)
                                        {
                                            <a href="javascript:void(0);" class="btn btn-danger mb-2">
                                                <i class="mdi mdi-plus-circle me-2"></i> Add Products
                                            </a>
                                        }
                                    </div>
                                    <div class="col-sm-7">
                                        <div class="text-sm-end">
                                            <button type="button" class="btn btn-success mb-2 me-1"><i class="mdi mdi-cog-outline"></i></button>
                                            <button type="button" class="btn btn-light mb-2 me-1">Import</button>
                                            <button type="button" class="btn btn-light mb-2">Export</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <table class="table table-centered w-100 dt-responsive nowrap" id="products-datatable">
                                        <thead class="table-light">
                                            <tr>
                                                <th class="all" style="width: 20px;">
                                                    <div class="form-check">
                                                        <input type="checkbox" class="form-check-input" id="customCheck1">
                                                        <label class="form-check-label" for="customCheck1">&nbsp;</label>
                                                    </div>
                                                </th>
                                                <th class="all">Product</th>
                                                <th>Category</th>
                                                <th>Added Date</th>
                                                <th>Price</th>
                                                <th>Quantity</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        @foreach (var item in Model.ProductDetailsList)
                                        {
                                            <tr>
                                                <td>
                                                    <div class="form-check">
                                                        <input type="checkbox" class="form-check-input" id="customCheck2">
                                                        <label class="form-check-label" for="customCheck2">&nbsp;</label>
                                                    </div>
                                                </td>
                                                <td>
                                                    <img src="~/kit-images/@item.ImageURL" alt="contact-img" title="contact-img" class="rounded me-3" height="48"/>
                                                    <p class="m-0 d-inline-block align-middle font-16">
                                                        <a asp-action="Detail" asp-route-productId="@item.Id" class="text-body">@item.Title</a>
                                                        <br/>
                                                        <span class="text-warning mdi mdi-star"></span>
                                                        <span class="text-warning mdi mdi-star"></span>
                                                        <span class="text-warning mdi mdi-star"></span>
                                                        <span class="text-warning mdi mdi-star"></span>
                                                        <span class="text-warning mdi mdi-star"></span>
                                                    </p>
                                                </td>
                                                <td>
                                                    @item.Category
                                                </td>
                                                <td>
                                                    @item.RegisteredDate
                                                </td>
                                                <td>
                                                    @item.Price
                                                </td>
                                                <td>
                                                    @item.Quantity
                                                </td>
                                                <td>
                                                    @if (item.IsActive)
                                                    {
                                                        <span class="badge bg-success">Active</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="badge bg-warning">In Active</span>
                                                    }
                                                </td>
                                            </tr>
                                        }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
            </div> 
        </div> 
    </div>
</div>