@model FutsalFusion.Application.DTOs.Account.ForgotPasswordRequestDto

@{
    Layout = "_LoginLayout";
    ViewData["Title"] = "Forget Password";
}

<style>
    .captcha-container {
      background-color: #000000;
      padding: 10px;
      border-radius: 5px;
      transform: rotate(-2deg);
      display: inline-block;
      width: auto;
    }
    
    .captcha-text {
      color: white;
      font-size: 20px;
      font-weight: bold;
      transform: rotate(2deg);
    }
    
    .refresh-btn {
      margin-left: 10px;
      cursor: pointer;
    }
</style>

<div class="authentication-bg">
    <div class="position-absolute start-0 end-0 start-0 bottom-0 w-100 h-100">
        <svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 800 800'>
            <g fill-opacity='0.22'>
                <circle style="fill: rgba(var(--ct-primary-rgb), 0.1);" cx='400' cy='400' r='600'/>
                <circle style="fill: rgba(var(--ct-primary-rgb), 0.2);" cx='400' cy='400' r='500'/>
                <circle style="fill: rgba(var(--ct-primary-rgb), 0.3);" cx='400' cy='400' r='300'/>
                <circle style="fill: rgba(var(--ct-primary-rgb), 0.4);" cx='400' cy='400' r='200'/>
                <circle style="fill: rgba(var(--ct-primary-rgb), 0.5);" cx='400' cy='400' r='100'/>
            </g>
        </svg>
    </div>
    <div class="account-pages pt-2 pt-sm-5 pb-4 pb-sm-5 position-relative">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xxl-5 col-lg-5">
                    <div class="card">
                        <div class="card-header py-4 text-center bg-dark">
                        </div>
                        <div class="card-body p-4">
                            <div class="text-center w-100 m-auto">
                                <h4 class="text-dark-50 text-center mt-0 fw-bold">Reset Password</h4>
                                <p id="email-text" class="text-muted mb-4">Enter your email address and we'll send you an email with instructions to reset your password.</p>
                                <p id="otp-text" class="text-muted mb-4 d-none">Please enter the 6-digit One-Time Password (OTP) sent to your registered email, in the box below and click on <b>'Validate OTP'</b> button. If OTP is not received within 120 sec, please click on the <b>'Resend OTP'</b> button to request a new OTP.</p>
                                <p id="reset-password-text" class="text-muted mb-4 d-none">You have validated your email address and OTP, you can now click on <b>'Reset Password'</b> button to reset your password and a new password will be sent on your validated email address.</p>
                            </div>

                            <form data-ajax="true" data-ajax-mode="replace" data-ajax-method="POST" asp-controller="Account" asp-action="ForgotPassword" class="needs-validation" novalidate data-ajax-success="onSuccessForgotPassword"> 
                                @Html.AntiForgeryToken()
                                <div asp-validation-summary="ModelOnly" class="text-dark"></div>
                                <div class="row" id="div-email-form">
                                    <div class="mb-3">
                                        @Html.LabelFor(model => model.EmailAddress, htmlAttributes: new { @class = "form-label", @for = "EmailAddress" })
                                        <input type="text" asp-for="EmailAddress" class="form-control" placeholder="Enter your email address" autocomplete="off" required>
                                        <span asp-validation-for="EmailAddress" class="text-danger"></span>
                                    </div>
                                    <div class="mb-3">
                                        <div class="captcha-container mb-2">
                                            <span class="captcha-text" id="captcha-value">@ViewData["Captcha"]</span>
                                            <span class="refresh-btn text-white" id="refreshCaptcha" onclick="refreshCaptcha()">&#8635;</span>
                                        </div>
                                        <input type="text" asp-for="Captcha" class="form-control" id="Captcha" placeholder="Enter the Captcha" required>
                                        <span asp-validation-for="Captcha" class="text-danger"></span>
                                    </div>
                                    <div class="mb-0 text-center">
                                        <button id="send-otp" type="submit" name="buttonType" class="btn btn-dark" value="OTP" data-bs-toggle="tooltip" data-bs-placement="top" title="Click here, to send OTP on your registered mail."><i class="uil uil-envelope-send"></i> Send OTP </button>
                                    </div>
                                </div>
                                <div class="row d-none" id="div-send-otp-form">
                                    <div class="mb-3">
                                        @Html.LabelFor(model => model.OTP, htmlAttributes: new { @class = "form-label", @for = "OTP" })
                                        <input type="text" asp-for="OTP" class="form-control" placeholder="Enter your OTP" autocomplete="off">
                                        <span asp-validation-for="OTP" class="text-danger"></span>
                                    </div>
                                    <div class="mb-3 d-flex justify-content-between">
                                        <div class="col-5">
                                            <button type="submit" value="VerifyOTP" id="verifyOTP" name="buttonType" class="btn btn-sm m-0 btn-dark" data-bs-toggle="tooltip" data-bs-placement="top" title="Click here, to Validate OTP."><i class="ri-checkbox-multiple-line"></i>Validate OTP</button>
                                        </div>
                                        <div class="col-2 mt-1">
                                            <span class="badge bg-secondary text-white" id="sp-timer"></span>
                                        </div>
                                        <div class="col-5">
                                            <div id="some_div" class="d-grid mb-0 text-center">
                                                <button type="submit" value="ResendOTP" id="resendOTP" name="buttonType" class="btn btn-dark btn-sm m-0" data-bs-toggle="tooltip" data-bs-placement="top" title="Click here, to Resend OTP."> <i class="mdi mdi-skip-backward-outline"></i> Resend OTP</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row d-none" id="div-reset-password-form">
                                    <div class="col-12" id="reset-password">
                                        <div class="d-grid mb-0 text-center">
                                            <button type="submit" name="buttonType" class="btn btn-dark btn-sm m-0" value="Reset" data-bs-toggle="tooltip" data-bs-placement="top" title="Click here, to send new password on your registered mail address."><i class="mdi mdi-lock-reset"></i> Reset Password </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div> 
                    </div>
                    <div class="row mt-3">
                        <div class="col-12 text-center">
                            <p class="text-muted">Back to <a asp-controller="Account" asp-action="Login" class="text-muted ms-1"><b>Log In</b></a></p>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    function refreshCaptcha(){
        $.ajax({
            type: 'GET',
            dataType: 'JSON',
            url: "/Account/ResetCaptcha/",
            headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
            success: function (data) {
                $('.captcha-text').text(data.data);
            },
            error: function(xhr, status, error) {
                commonMessage('error', "An error occurred while processing the request.");
            }
        });
    }
    function onSuccessForgotPassword(data){
        if (data.errorType === -1){
            commonMessage('warning', data.errorMessage);
        }
        else if (data.successType === 1){
            commonMessage('success', data.successMessage);
            $('#div-email-form').addClass('d-none');
            $('#div-send-otp-form').removeClass('d-none');
            $('#email-text').addClass('d-none');
            $('#otp-text').removeClass('d-none');
            let duration = 30;
            let display = document.querySelector('#sp-timer');
            startTimer(duration, display);
            $("#resendOTP").prop("disabled", true);
            $("#send-otp").prop("disabled", true);
        }
        else if (data.successType === 2){
            $('#div-send-otp-form').addClass('d-none');
            $('#div-reset-password-form').removeClass('d-none');
            $('#otp-text').addClass('d-none');
            $('#reset-password-text').removeClass('d-none');
            $("#resendOTP").prop("disabled", true);
            $("#verifyOTP").prop("disabled", true);
            commonMessage('success', data.successMessage);
        }
        else if (data.successType === 3){
            window.location.href = "@Url.Action("Login", "Account")";
            commonMessage('success', data.successMessage);
        }
        else{
            commonMessage('warning', "An unexpected error occured while handling your request, please try again");
        }
    }
    
    function startTimer(duration, display) {
        let timer = duration, minutes, seconds;
        let interval = setInterval(function () {
            minutes = parseInt(timer / 60, 10);
            seconds = parseInt(timer % 60, 10);

            minutes = minutes < 10 ? "0" + minutes : minutes;
            seconds = seconds < 10 ? "0" + seconds : seconds;

            display.textContent = minutes + ":" + seconds;

            if (--timer < 0) {
                clearInterval(interval);
                $('#resendOTP').prop('disabled', false);
            }
        }, 1000);
    }
</script>