@model FutsalFusion.Application.DTOs.Reservation.ReservedAppointmentsDto

@{
    ViewData["Title"] = "Reservation Details";
}

<link href="~/css/reservation.css" rel="stylesheet" />

<div class="wrapper">
    <div class="content-page">
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box">
                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Futsal Fusion</a></li>
                                    <li class="breadcrumb-item">Appointments & Reservations</li>
                                    <li class="breadcrumb-item active">Reservation Details</li>
                                </ol>
                            </div>
                            <h4 class="page-title">Reservation Details</h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-9 left-width">
                        <div id="accordion" class="acoodion-child-d">
                            <div class="card">
                                <div class="card-header ">
                                    <h4 class="mb-0 mt-0">Reservation Detail</h4>
                                    <span>Date of Booking <b>@Model.BookedDate</b> </span>
                                    <a class="btn" data-bs-toggle="collapse" href="#collapseOne">
                                        <i class="ri-arrow-up-s-line"></i>
                                    </a>
                                </div>
                                <div id="collapseOne" class="collapse show" data-bs-parent="#accordion">
                                    <div class="card-body">
                                        <div class="row child-rw">
                                            <div class="col-md-3 mb-3">
                                                <div class="form-child-gp">
                                                    <label class="form-label">Player Name</label>
                                                    <h5>@Model.PlayerName</h5>
                                                </div>
                                            </div>
                                            <div class="col-md-3 mb-3">
                                                <div class="form-child-gp">
                                                    <label class="form-label">Futsal Name</label>
                                                    <h5>@Model.FutsalName</h5>
                                                </div>
                                            </div>
                                            <div class="col-md-3 mb-3">
                                                <div class="form-child-gp">
                                                    <label class="form-label">Court Name</label>
                                                    <h5>@Model.CourtName</h5>
                                                </div>
                                            </div>
                                            <div class="col-md-3 mb-3">
                                                <div class="form-child-gp">
                                                    <label class="form-label">Type</label>
                                                    <h5>@Model.CourtType</h5>
                                                </div>
                                            </div>
                                            <div class="col-md-3 mb-3">
                                                <div class="form-child-gp">
                                                    <label class="form-label">Booked Date</label>
                                                    <h5>@Model.BookedDate</h5>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-child-gp">
                                                    <label class="form-label">Appointed Date</label>
                                                    <h5>@Model.AppointedDate</h5>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-child-gp">
                                                    <label class="form-label">Time Slots</label>
                                                    <h5>@Model.TimeSlot</h5>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-child-gp">
                                                    <label class="form-label">Has Requested Any Players</label>
                                                    <h5>
                                                        @if (Model.IsAssignedPlayersRequired)
                                                        {
                                                            <span class="badge bg-success">Yes</span>
                                                        }
                                                        else
                                                        {
                                                            <span class="badge bg-warning">Not Required</span>
                                                        }
                                                    </h5>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-child-gp bg-gnt-orange px-2 py-1">
                                                    <label class="form-label">Total Number of Players</label>
                                                    <h5><b>@Model.AssignedPlayersList.Count(x => x.IsSelected)</b></h5>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-child-gp bg-gnt-orange px-2 py-1">
                                                    <label class="form-label">Requested Players</label>
                                                    <h5><b>@Model.NumberOfPlayers</b></h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h4 class="mb-3">Team Members Selection</h4>
                        <div class="card">
                            <div class="card-body">
                                <form data-ajax="true" data-ajax-method="POST" asp-action="ConfirmReservation" class="needs-validation" novalidate data-ajax-success="onConfirmationSuccess">
                                    <input asp-for="AppointmentId" type="hidden"/>
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th scope="col" style="width: 8%">#</th>
                                            <th scope="col" style="width: 15%">Is Involved?</th>
                                            <th scope="col">Phone Number</th>
                                            <th scope="col">Player Name</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        @for (int i = 0; i < Model.AssignedPlayersList.Count; i++)
                                        {
                                            if (Model.AssignedPlayersList[i].Status != "Self")
                                            {
                                                var player = Model.AssignedPlayersList[i];
                                                <tr>
                                                    <input asp-for="@Model.AssignedPlayersList[i].PlayerId" type="hidden"/>
                                                    <td class="text-danger">
                                                        <span>@(i + 1).</span>
                                                    </td>
                                                    <td class="text-center text-danger">
                                                        <div class="form-check form-checkbox-danger">
                                                            <input class="form-check-input" type="checkbox" checked="checked" disabled="disabled" id="is_selected_@player.PlayerId" asp-for="@Model.AssignedPlayersList[i].IsSelected">
                                                            <label class="form-check-label" for="is_selected_@player.PlayerId"></label>
                                                        </div>
                                                    </td>
                                                    <td class="text-danger">(+977) @player.PhoneNumber</td>
                                                    <td class="text-danger">@player.PlayerName</td>
                                                </tr>
                                            }
                                            else
                                            {
                                                var player = Model.AssignedPlayersList[i];
                                                <tr>
                                                    <input asp-for="@Model.AssignedPlayersList[i].PlayerId" type="hidden"/>
                                                    <td>
                                                        <span>@(i + 1).</span>
                                                    </td>
                                                    <td class="text-center">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" id="is_selected_@player.PlayerId" asp-for="@Model.AssignedPlayersList[i].IsSelected">
                                                            <label class="form-check-label" for="is_selected_@player.PlayerId"></label>
                                                        </div>
                                                    </td>
                                                    <td>(+977) @player.PhoneNumber</td>
                                                    <td>@player.PlayerName</td>
                                                </tr>
                                            }
                                        }
                                        </tbody>
                                    </table>
                                    <div class="col-12 text-end">
                                        @if (Model.IsEditable)
                                        {
                                            <button class="btn btn-success" type="submit">Save</button>
                                        }
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 right-width">
                        <div class="card mb-4 pb-1">
                            <div class="card-body">
                                <h5 class="text-center header-title mb-2">Require additional players?</h5>
                                <form data-ajax="true" data-ajax-method="POST" asp-action="RequestAppointmentPlayers" class="needs-validation" novalidate data-ajax-success="onRequestSuccess">
                                    <div class="row m-2">
                                        <input asp-for="AppointmentId" type="hidden"/>
                                        <input asp-for="FutsalId" type="hidden"/>
                                        <div class="col mt-2 mb-2">
                                            <label class="form-label">Require Additional Players?</label>
                                        </div>
                                        @if (Model.IsAssignedPlayersRequired)
                                        {
                                            <div class="col mt-2 mb-2 text-end">
                                                <input type="checkbox" id="switch" checked data-switch="primary"/>
                                                <label for="switch" data-on-label="On" data-off-label="Off"></label>
                                                <input type="hidden" class="form-control" asp-for="IsAssignedPlayersRequired"/>
                                            </div>
                                            <div class="form-group" id="numPlayersFormGroup">
                                                <div class="row">
                                                    <label class="form-label">Required Number of Players</label>
                                                    <input asp-for="NumberOfPlayers" type="number" class="form-control ms-2 w-75"/>
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="col mt-2 mb-2 text-end">
                                                <input type="checkbox" id="switch" data-switch="primary"/>
                                                <label for="switch" data-on-label="On" data-off-label="Off"></label>
                                                <input type="hidden" class="form-control" asp-for="IsAssignedPlayersRequired"/>
                                            </div>
                                            <div class="form-group" id="numPlayersFormGroup" style="display: none;">
                                                <div class="row">
                                                    <label class="form-label">Required Number of Players</label>
                                                    <div class="row">
                                                        <div class="col-10">
                                                            <input asp-for="NumberOfPlayers" type="number" class="form-control"/>
                                                        </div>
                                                        <div class="col-2">
                                                            <button class="btn btn-success" type="submit">Save</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="card mb-3 mt-5">
                            <div class="card-body">
                                <h5 class="card-title mb-3">Player Requests & Responses</h5>
                                @foreach (var item in Model.RequestedPlayers)
                                {
                                    <div class="card mb-1 shadow-none border">
                                        <div class="p-2">
                                            <div class="row align-items-center">
                                                <div class="col-auto">
                                                    <img src="~/user-images/@item.ImageUrl" class="avatar-sm rounded" alt="file-image"/>
                                                </div>
                                                <div class="col ps-0">
                                                    <a href="javascript:void(0);" class="text-muted fw-bold">@item.PlayerName</a>
                                                    <p class="mb-0">(+977) @item.PhoneNumber</p>
                                                </div>
                                                <div class="col-2">
                                                    <a asp-action="RequestAction" asp-route-appointmentId="@Model.AppointmentId" asp-route-isApproved="true" asp-route-playerId="@item.PlayerId" class="btn btn-link btn-lg text-muted">
                                                        <i class="ri-download-2-line"></i>
                                                    </a>
                                                </div>
                                                <div class="col-2">
                                                    <a asp-action="RequestAction" asp-route-appointmentId="@Model.AppointmentId" asp-route-isApproved="false" asp-route-playerId="@item.PlayerId" class="btn btn-link btn-lg text-muted">
                                                        <i class="ri-delete-back-2-line"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        </div> 
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $('#switch').change(function() {
            if ($(this).is(':checked')) {
                $('#numPlayersFormGroup').show();
                $("#IsAssignedPlayersRequired").val(true);
            } else {
                $('#numPlayersFormGroup').hide();
                $("#IsAssignedPlayersRequired").val(false);
            }
        });
    });
    
    function onConfirmationSuccess(data){
        commonMessage('success', "Your appointment details has been successfully updated.");
    }
    
    function onRequestSuccess(data){
        commonMessage('success', "Your request has been successfully notified.");
    }
</script>